.ibtnCheck, .ibtnEdit, .ibtnCancel, .ibtnDelete, .ibtnReadCancel: {
  background-color: #999999;
}

.ibtnEdit, .ibtnDelete {
  margin-left: 5px;
  margin-right: 5px;
}

.ibtnCheck, .ibtnCancel {
  margin-left: 5px;
  margin-right: 5px;
}

.ibtnCheck:hover, .ibtnDeleteConfirm:hover, .ibtnAddUser:hover {
  background-color: #55ff55;
  color: #ffffff;
}

.ibtnEdit:hover {
  background-color: #ffbb55;
  color: #ffffff;
}

.ibtnDelete:hover, .ibtnCancel:hover, .ibtnDeleteCancel:hover, .ibtnAdd:hover, .ibtnAddUserCancel:hover, .ibtnReadCancel:hover {
  background-color: #ff5555;
  color: #ffffff;
}

.ibtnAdd {
  background-color: #55ff55;
}

.uidBtn:hover {
  background-color: #77aaff;
  color: #ffffff;
}

.table-fixed {
  table-layout: fixed;
  overflow: hidden;
}

table.table-fixed>tbody>tr>td {
  vertical-align: middle;
  align-content: top;
  text-align: left;
}

.span-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.hidden {
  display: none;
}

#userLoader {
  display: none;
}

#loader-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  left: 50%;
  margin: 0 0 0 -50px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.track {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  height: 0px;
  position: relative;
  display: inline-block;
  border-top: 8px dotted #aaa;
}

.track:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 8px solid white;
  top: -8px;
  left: 0;
  -webkit-animation: eatPoints 4s linear infinite;
  animation: eatPoints 4s linear infinite;
}

.kurt {
  -webkit-animation: moveChomp 4s linear infinite;
  animation: moveChomp 4s linear infinite;
  background: pink;
  width: 0px;
  height: 0px;
  position: relative;
  top: -15px;
}

.kurt:before {
  content: "";
  position: absolute;
  top: -12px;
  left: 30px;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: black;
  z-index: 5;
}

.loader {
  background: none;
  display: inline-block;
  position: relative;
}

.loader:before, .loader:after {
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  border: 30px solid #eeee00;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  -webkit-animation: topchomp 0.5s ease-in-out infinite;
  animation: topchomp 0.5s ease-in-out infinite;
}

.loader:after {
  border-color: #eeee00;
  border-top-color: transparent;
  border-right-color: transparent;
  -webkit-animation: bottomchomp 0.5s ease-in-out infinite;
  animation: bottomchomp 0.5s ease-in-out infinite;
}

@-webkit-keyframes eatPoints {
  0% {
    left: 0;
    right: auto;
    width: 0;
  }
  49% {
    left: 0;
    right: auto;
    width: 100%;
  }
  50% {
    left: auto;
    right: 0;
    width: 0;
  }
  100% {
    left: auto;
    right: 0;
    width: 100%;
  }
}

@keyframes eatPoints {
  0% {
    left: 0;
    right: auto;
    width: 0;
  }
  49% {
    left: 0;
    right: auto;
    width: 100%;
  }
  50% {
    left: auto;
    right: 0;
    width: 0;
  }
  100% {
    left: auto;
    right: 0;
    width: 100%;
  }
}

@-webkit-keyframes moveChomp {
  0%, 100% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  0%, 49% {
    -webkit-transform: rotateY(0deg);
  }
  50%, 100% {
    -webkit-transform: rotateY(180deg);
  }
}

@keyframes moveChomp {
  0%, 100% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  0%, 49% {
    transform: rotateY(0deg);
  }
  50%, 100% {
    transform: rotateY(180deg);
  }
}

@-webkit-keyframes bottomchomp {
  0%, 100% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
  }
}

@keyframes bottomchomp {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}

@-webkit-keyframes topchomp {
  0%, 100% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes topchomp {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
}